@import url(reset.css);

html {
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    padding: 5vh 5vw;
    justify-content: center;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper header {
    height: 10vh;
}

.wrapper main {
    height: 65vh;
    margin-top: 45px;
}

.wrapper footer {
    height: 10vh;
}

.app-title {
    font-size: 2rem;
    padding: 15px;
    padding-left: 0;
}

.selectors {
    display: flex;
    padding: 15px;
    padding-left: 0;
}

.selector {
    flex: 1;
    font-size: 1.5rem;
    cursor: pointer;
}

.selector:first-child {
    margin-right: 64px;
}

.calendar {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 65vh;
    overflow: auto;
}

.calendar-day {
    border: 1px solid black;
    padding: 7.5px;
    margin: 5px;
    text-align: center;
    font-size: 1.5rem;
    width: 120px;
    min-height: 3rem;
    height: calc(65vh / 30);
}

.calendar-day.today {
    background: lightgreen;
}